
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Rubik');

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html{
    height: 2000px;
}
body {
  background: #fafafa;
  font-family: 'Rubik', sans-serif;
  color: #333;
}


nav ul a {
    transition: background-color .3s;
    font-size: .8rem;

}

.nav-wrapper li a{
    
    color: #ffffff;
}


.nav-wrapper li a:hover{
    
    color: #3e7ce5;
    text-decoration: underline;
}


.nav-wrapper li a:last-child {
    margin-right: 20px;
}

nav ul li a.active {
    color: #538def;
    text-decoration: underline;
    
}

#hero {
    background-position: center center;
    height: 400px;
    background-size: cover;
    background-image: url(../images/blue-bg.png);
    
}

.works-btn{
    margin-right: 10px;
    margin-left: 20px;
}

.ctas{
    margin: 50px;
    
}

.downarrow{
    
    color: black;
    
}

.headshot{
    margin-left: 150px;
    margin-top:-15px;
    border-radius: 50%;
}



.gradientbg{
    


background: #232526; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #232526 , #414345); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #232526 , #414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
        
    
}

.socialicon{
    -webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
}

.socialicon:hover{
   color: rgba(171, 12, 219, 0.87);
}

.emailme{
    font-size: 21px;
    font-style: italic;
}

.whoami{
    font-family: 'Roboto Mono', monospace;
    font-style: italic;
}

h3{
    font-size: 52px;
    font-family: 'Rubik', sans-serif;
}

hr {

    width: 320px;
    border-color: #0089ec;
}


a{
    font-size: 14px;
    font-family: 'Roboto Mono', monospace;
}

.card .card-title {
    font-size: 20px;
    font-weight: 300;
}

.card .card-content .card-title {
    display: block;
    line-height: 18px;
    margin-bottom: 10px;
}

.card .card-content {
    padding: 10px;
    background-color: rgba(206, 206, 206, 0.76);
   
}


.card .card-image img {
    display: block;
     border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
	height: 250px;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.card .card-image img:hover {

transform: scale(1.1);
    
}

.dotbg{
    background-image: url(../images/subtle_dots_@2X.png);
  
    
}

.wht-bg{
    background-color: white;
    margin-top: -20px;
}


.group {
    cursor: pointer;
}


.downloadbtn {
    font-size: 14px;
}

.downloadbtn:hover{
    color: #4b86ea;
}

.email{
    margin: 5px;
}



.thanks{
    margin-top: -34px;
}

.footer-nav li a{
    font-size: 14px;
    
}

.footer-nav li a:hover{
    color: white;
    
}



.page{
  margin:0 auto;
  margin-top: 100px;
}
#home-news{
  font-size: 40px;
	text-align:center;
	text-transform:uppercase;
	color:#464646;
	height: 45px;
	line-height: 55px;
	overflow:hidden;
	position:relative;
}.home_header {
	position:absolute;
	width:100%;
	z-index:99;
	color:#000;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.home_header_on {
	z-index:100;
}.home_header strong {
	color: white;
}.home_header span, .home_header strong {
	position:relative;
	top:-50px;
}.home_header_on *:nth-child(1) {
	 top: 0;
	-webkit-transition: top .6s ease-in-out;
	-moz-transition: top .6s ease-in-out;
	 transition: top .6s ease-in-out;
}.home_header_on *:nth-child(2) {
	top: 0;
	-webkit-transition: top .6s ease-in-out .15s;
	-moz-transition: top .6s ease-in-out .15s;
	transition: top .6s ease-in-out .15s;
}.home_header_on *:nth-child(3) {
	top: 0;
	-webkit-transition: top .6s ease-in-out .3s;
	-moz-transition: top .6s ease-in-out .3s;
	transition: top .6s ease-in-out .3s;
}.home_header_out *:nth-child(1) {
	top: 50px;
	-webkit-transition: top .6s ease-in-out;
	-webkit-transition: top .6s ease-in-out;
	-moz-transition: top .6s ease-in-out;
}.home_header_out *:nth-child(2) {
	top: 50px;
	-webkit-transition: top .6s ease-in-out .15s;
	-moz-transition: top .6s ease-in-out .15s;
	transition: top .6s ease-in-out .15s;
}.home_header_out *:nth-child(3) {
	top: 50px;
	-webkit-transition: top .6s ease-in-out .3s;
	-moz-transition: top .6s ease-in-out .3s;
	transition: top .6s ease-in-out .3s;
}



@media only screen and (max-width: 992px){
    
    #home-news{
    font-size: 25px;
	text-align:center;
	text-transform:uppercase;
	color:#464646;
	height: 42px;
	line-height: 22px;
	overflow:hidden;
	position:relative;
}.home_header {
	position:absolute;
	width:100%;
	z-index:99;
	color:#000;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
    
}



/* SLIDE OUT NAV*/
@media only screen and (max-width: 992px){
    
    .side-nav li a{
        color: black;
        font-size: 16px;
        text-align: center;
    }    
    
    
    
}
    

/* d3 chart*/

.pie {
margin: 15px;
}

.pie text{
  font-size: 1em;
  font-family: "Verdana";
  fill: #888;
}




/* utopian hotels page styles*/

.greycloudbg{
    padding-top: 30px;
    height: 800px;
background: #1A2980; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #00bcd4 , #035e93); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #00bcd4 , #035e93); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
        
}

.theidea{
    margin-top: 30px;
}

.color1{
    border: 1px solid black;
    height: 64px;
    width: 64px;
    background-color: #e65100;
}

.color2{
    border: 1px solid black;
    height: 64px;
    width: 64px;
    background-color: #e65100;
}

.rightphone{
    margin-left: 30px;
}

.middlephone{
    margin-left: 25px;
}