.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}


nav ul a {
    transition: background-color .3s;
    font-size: .8rem;

}

.nav-wrapper li a{
    
    color: #ffffff;
}

.nav-wrapper  li a:active {
    
    color: #ffffff;
    text-decoration: underline;
    
}

.nav-wrapper li a:hover{
    
    color: #3e7ce5;
    text-decoration: underline;
}


.nav-wrapper li a:last-child {
    margin-right: 20px;
}

nav ul li a.active {
    color: #538def;
    text-decoration: underline;
    font-size: 1em
    
}

#hero {
    background-position: center center;
    height: 400px;
    background-size: cover;
    background-image: url(../images/blue-bg.png);
    
}

.works-btn{
    margin-right: 20px;
}

.ctas{
    margin: 50px;
    
}

.downarrow{
    
    color: black;
    
}

h3{
    font-size: 52px;
}

hr {

    width: 320px;
    border-color: #0089ec;
}

.card .card-title {
    font-size: 20px;
    font-weight: 300;
}

.card .card-content .card-title {
    display: block;
    line-height: 18px;
    margin-bottom: 10px;
}

.card .card-content {
    padding: 15px;
   
}


.card .card-image img {
    display: block;
     border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
}
.dotbg{
    background-image: url(../images/subtle_dots_@2X.png);
    
}

.wht-bg{
    background-color: white;
}


div.chart {
  margin: auto;
  width:550px;
  padding: 0.6em 0.6em 0 0.6em; 
  font: italic small-caps normal 13px sans-serif;
  
}
.bar {
  padding: 2px;
  background-color: #508aed;
  color: #fff;
  height: 18px;
  text-align: right;
  transition: width 0.5s ease-out; 
  box-shadow: 2px 2px 2px #666;
}
.bar:hover {
  background-color: #28b;
}

div.label {
  float: left;
  width: 10em;
  text-align: right;
  background-color: rgb(200,200,200);
  padding: 2px; 
  cursor: default;
  border-right: 1px solid #666;
  padding-right: 15px;
}
div.line {
  height: 2.5em;
}









.page{
  margin:0 auto;
  margin-top: 100px;
}
#home-news{
  font-size: 40px;
	text-align:center;
	text-transform:uppercase;
	color:#464646;
	height: 45px;
	line-height: 55px;
	overflow:hidden;
	position:relative;
}.home_header {
	position:absolute;
	width:100%;
	z-index:99;
	color:#000;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.home_header_on {
	z-index:100;
}.home_header strong {
	color: white;
}.home_header span, .home_header strong {
	position:relative;
	top:-50px;
}.home_header_on *:nth-child(1) {
	 top: 0;
	-webkit-transition: top .6s ease-in-out;
	-moz-transition: top .6s ease-in-out;
	 transition: top .6s ease-in-out;
}.home_header_on *:nth-child(2) {
	top: 0;
	-webkit-transition: top .6s ease-in-out .15s;
	-moz-transition: top .6s ease-in-out .15s;
	transition: top .6s ease-in-out .15s;
}.home_header_on *:nth-child(3) {
	top: 0;
	-webkit-transition: top .6s ease-in-out .3s;
	-moz-transition: top .6s ease-in-out .3s;
	transition: top .6s ease-in-out .3s;
}.home_header_out *:nth-child(1) {
	top: 50px;
	-webkit-transition: top .6s ease-in-out;
	-webkit-transition: top .6s ease-in-out;
	-moz-transition: top .6s ease-in-out;
}.home_header_out *:nth-child(2) {
	top: 50px;
	-webkit-transition: top .6s ease-in-out .15s;
	-moz-transition: top .6s ease-in-out .15s;
	transition: top .6s ease-in-out .15s;
}.home_header_out *:nth-child(3) {
	top: 50px;
	-webkit-transition: top .6s ease-in-out .3s;
	-moz-transition: top .6s ease-in-out .3s;
	transition: top .6s ease-in-out .3s;
}



@media only screen and (max-width: 992px){
    
    #home-news{
    font-size: 25px;
	text-align:center;
	text-transform:uppercase;
	color:#464646;
	height: 42px;
	line-height: 22px;
	overflow:hidden;
	position:relative;
}.home_header {
	position:absolute;
	width:100%;
	z-index:99;
	color:#000;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
    
}











/* SLIDE OUT NAV*/
@media only screen and (max-width: 992px){
    
    .side-nav li a{
        color: black;
        font-size: 16px;
        text-align: center;
    }
}
    


